.mine{
    margin: 50px auto;
}

.level{
    text-align: center;
    margin-bottom: 10px;
}

.level button{
    padding: 5px 15px;
    background-color: #02a4ad;
    border: none;
    color: #fff;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.level button.active{
    background-color: #00abff;
}

table{
    border-spacing: 1px;
    background-color: #929196;
    margin: 0 auto;
}

table td{
    padding: 0px;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border: 2px solid;
    border-color: #fff #a1a1a1 #a1a1a1 #fff;
    /* 文字样式 */
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}

.info{
    margin-top: 10px;
    text-align: center;
}

.mines{
    background: #d9d9d9 url(images/雷.png) no-repeat center;
    background-size: cover;
}
.flags{
    background: #ccc url(images/小红旗.png) no-repeat center;
    background-size: cover;
}

td.zero{
    border-color: #d9d9d9;
    background-color: #d9d9d9;
    color: #d9d9d9;
}
td.one{
    border-color: #d9d9d9;
    background-color: #d9d9d9;
    color: #0332fe;
}
td.two{
    border-color: #d9d9d9;
    background-color: #d9d9d9;
    color: #019f02;
}
td.three{
    border-color: #d9d9d9;
    background-color: #d9d9d9;
    color: #ff2600;
}
td.four{
    border-color: #d9d9d9;
    background-color: #d9d9d9;
    color: #93208f;
}
td.five{
    border-color: #d9d9d9;
    background-color: #d9d9d9;
    color: #ff7f29;
}
td.six{
    border-color: #d9d9d9;
    background-color: #d9d9d9;
    color: #ff3fff;
}
td.seven{
    border-color: #d9d9d9;
    background-color: #d9d9d9;
    color: #3fffbf;
}
td.eight{
    border-color: #d9d9d9;
    background-color: #d9d9d9;
    color: #22ee0f;
}
